<h1>Hello{{#if name}}, {{name}}{{/if}}!</h1>
<section class="js-math-canvas">
    <section class="js-workbench">
        <section class="js-notebook">
            Oh, hello there!
        </section>
        <section class="js-inputarea">
            <label for="math-canvas-formula-input">Formula input:</label>
            <span id="math-canvas-formula-input" class="math-canvas-formula mb-3"></span>
            <button type="button" data-action="save" class="btn btn-primary btn-block">Save</button>
            {{!-- <input id="math-canvas-formula-input" type="text" class="form-control"> --}}
        </section>
    </section>
</section>
